/*body{
    background-color: #752323;
    font-family: Arial, Helvetica, sans-serif;
}*/
nav{
    position: relative;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
body{
    color: #ccc;
    /*font-size: 18px;*/

    background-image: url('hotel.jpeg');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    /*color: black;*/
    background-attachment: fixed;
    background-size: cover;
    /*opacity: 0.7;*/ 
    }

.changePassword{
    border: 2px solid #1f172728;
    margin-top: 80px;
    padding: 20px;
    padding-top: 50px;
    border-radius: 20px;
    text-align: right;
}
table,tr, td{
    color: white;   
    text-align: center;    
}
.adminbd{
    background: #e4e6e7;
}

.marquee{
    margin-top: 100px;
    max-width: 650px;
}

.dash1,.dash2{
    /* border: 2px solid black; */
    padding: 10px;
    margin-top: 200px;
    display: flex;
}
.dash2{
    margin-top: 0px;
}
.ic{
    /* border: 2px solid black; */
    border-radius: 15px;
    background: #69a5ff;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 210px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}
.dashLink:hover{
    text-decoration: none;
}
.dashLink{
    color: black;
}
.image{
    max-width: 170px;
    max-height: 150px;
}

#rollname{
	font-size: 20px;
}
.time{
	margin-top: 100px;
}

h3{
    text-align: center;
}
.feed{
   border: 1px solid black;
   border-radius: 5px;
}
.but{
    margin-top: 5px;
    margin-bottom: 5px;
}
.is{
	margin-top: 150px;
	}
.m{
		margin-top: 80px;
	}
.t{
   margin-top: 100px;

}

.printDownbutton{
    margin-left: 800px;
}

footer{
    margin-top: 50px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
/**/